<html>

<head>
    <title>
        Example Go Template
    </title>
</head>

<body>
    <h1>Hello, {{.Name}}</h1>
    <p>
        Here is your discount coupon worth {{.Amount}}:
        <span>{{.Coupon}}</span>
    <p>
</body>

</html>
